<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo List</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Tasks</th>
                            <th>Due date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in todo_list_detail.items.all %}
                            <tr>
                                <td>{{ item.task }}</td>
                                <td>{{ item.due_date}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
